body {
  /*background: #49a8fc;*/
  /*overflow: hidden;*/
} 

html {
  overflow:auto;
}

.animation-container {
  display: block;
  height: 100vh;
  opacity: 0;
  /*overflow: scroll;*/
  transition: 0.4s ease-in;
}

.animation-container.loaded {
  opacity: 1;
}
