.article-header {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100%;

  .bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(1.05);
    width: 100%;
    z-index: -100;
  }

  .bg-video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
  }
}

.article-nav:first-child .video-hover{
  left: 2em;
  right: initial;
}

.article-nav:first-child .video-hover{
  
}

.article-nav:hover .video-hover {
  display: block;
  width: 300px;
  visibility: visible;
  opacity: 1;
  box-shadow: 10px 10px 0 rgba(255,255,255,0.3)
}

.video-hover {
  width: 0;
  z-index: 10;
  position: absolute;
  right: 2em;
  top: 0;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  transition: opacity 0.2s ease-out;
  transform: translateY(-25%);

  .inner {
    width: 100%;
    background: red;
  }
}

.article-header .intro-letter {
  color: #fff;
  display: block;
  font-size: 80vh;
  line-height: 1em;
  padding: 10px;
  text-shadow: 30px 30px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;

  @include breakpoint(s) {
    font-size: 15.75em; 
  }
}

.article-header .intro-letter {
  transform: scale(0.8);
  transition: transform 0.5s ease-out;
}

.loaded .article-header .intro-letter {
  transform: none;
}

.article-nav {
  color: #fff;
  font-size: 3.375em;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  background: #000;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: #f2f2f2;
    color: black;
    transition: 0.2s ease-out;
  }

  span {
    left: 0.05em;
  }

  @include breakpoint(s) {
    position: absolute;
    font-size:2.75em; 
  }

}

.prev-article {
  left: $gutter / 8;
}

.next-article {
  right: $gutter / 8;
}

.mouse-btn {
  display: block;
  position: absolute;
  left: calc(50% - 17px);
  bottom: 0;
  color: #fff;
  line-height: 0;
}

.main {
  background: white;
}
