.btn,
button {
  background-color: #ff0;
  border: 0;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  padding: 10px 20px;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.4);
  transform: translateY(-4px);
}
