html {
  background: #022b46;
}

body {
  background-color: #2ea3f2;
}

body.konami{
  background-color: #fff700 !important;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 18c0-1.105.887-2 1.998-2 1.104 0 2-.895 2.002-1.994V14v6h-4v-2zM0 13.998C0 12.895.888 12 2 12c1.105 0 2 .888 2 2 0 1.105.888 2 2 2 1.105 0 2 .888 2 2v2H0v-6.002zm16 4.004A1.994 1.994 0 0 1 14 20c-1.105 0-2-.887-2-1.998v-4.004A1.994 1.994 0 0 0 10 12c-1.105 0-2-.888-2-2 0-1.105-.888-2-2-2-1.105 0-2-.887-2-1.998V1.998A1.994 1.994 0 0 0 2 0a2 2 0 0 0-2 2V0h8v2c0 1.105.888 2 2 2 1.105 0 2 .888 2 2 0 1.105.888 2 2 2 1.105 0 2-.888 2-2 0-1.105.888-2 2-2 1.105 0 2-.888 2-2V0h4v6.002A1.994 1.994 0 0 1 22 8c-1.105 0-2 .888-2 2 0 1.105-.888 2-2 2-1.105 0-2 .887-2 1.998v4.004z' fill='%236200ff' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E")  !important;
}

body.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  display: flex;
  visibility: visible;
  opacity: 1;
  z-index: 999999;
}

.modal {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0,0 , 1);
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;

  .container {
    color: #fff;
    padding: 0;
    max-width: 70%;
    position: relative;

    @include breakpoint(s) {
      max-width: 80%;
    }

    img {display:block;width:100%;height:auto;}
    iframe {position:absolute;top:0;left:0;width:100%; height:100%;}
  }

  .close {
    position: absolute;
    right: -1em;
    top: -1em;
    line-height: 0;
    z-index: 2;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.intro-bar {
  padding: 40px 20px;
  background: #74ffd8;
  text-align: center;

  h1 {
    font-size: 1.4em;
    margin-bottom: 0.5em;
  }
  p {
    font-size: 1em;
  }

  @include breakpoint(s) {
    font-size: 80%;
  }

  .inner {
    max-width: 500px;
    margin: auto;

    p {
      margin-bottom: 1em;
    }

    .btn {
      background: transparent;
      border: 2px solid rgba(0,0,0, 0.8);
      border-radius: 1px;
      color: rgba(0,0,0, 0.8);
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-weight: 500;
      font-size: 1em;
      padding: 0.4em 1em;

      &:hover {
        background: rgba(0,0,0, 1);
        color: #fff;
      }
    }
  }
}

.container {
  padding: $gutter * 2;

  @include breakpoint(s) {
    padding: $gutter;
  }

  @include breakpoint(s) {
    padding: $gutter / 2;
  }
}

.main {
  z-index: 1;
}

.footer {
  width: 100%;
  min-height: 80px;
  display: flex;
  padding: 0 2em;
  align-items: center;
  background-color: #fff;
  color: #333;
  float: left;
  font-size: 0.7125em;

  p {
    max-width: calc(100% - 280px);
  }

  span {
    @include breakpoint(s){
      display: none;
    }
  }
}

// body.menu-open {
//   overflow: hidden;
// }

.juicer-feed.image-grid li.feed-item.words, .juicer-feed.slider li.feed-item.words, .juicer-feed.hip li.feed-item.words {
  border: none !important;
}
