html {
  background: rgb(0, 10, 20);
}

body {
  background: #fff;
}

.container {
  padding: $gutter * 2;

  @include breakpoint(s) {
    padding: $gutter;
  }

  @include breakpoint(s) {
    padding: $gutter / 2;
  }
}

.main {
  margin-bottom: 400px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 400px;
  padding: $gutter;
  color: #fff;
}

// body.menu-open {
//   overflow: hidden;
// }
