html {
  background: #022b46;
}

body {
  background: #2ea3f2;
}

.intro-bar {
  padding: 80px 20px;
  background: #fff;
  text-align: center;

  @include breakpoint(s) {
    font-size: 80%;
  }

  .inner {
    max-width: 600px;
    margin: auto;

    p {
      margin-bottom: 1em;
    }

    .btn {
      background: $brand-color;
      width: 170px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.05em;

      &:hover {
        background: $sec-color;
      }
    }
  }
}

.container {
  padding: $gutter * 2;

  @include breakpoint(s) {
    padding: $gutter;
  }

  @include breakpoint(s) {
    padding: $gutter / 2;
  }
}

.main {
  z-index: 1;
}

.footer {
  width: 100%;
  height: 80px;
  display: flex;
  padding: 0 2em;
  align-items: center;
  background-color: #fff;
  color: #333;
  float: left;
  font-size: 0.7125em;
}

// body.menu-open {
//   overflow: hidden;
// }

.juicer-feed.image-grid li.feed-item.words, .juicer-feed.slider li.feed-item.words, .juicer-feed.hip li.feed-item.words {
  border: none !important;
}
