.navigation {
  align-items: center;
  background: #fff;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  justify-content: center;
  position: fixed;
  right: 10%;
  top: 0;
  width: 100px;
  z-index: 999999;
  transition: 0.2s ease-in-out;

  .wrap {
    align-items: center;
    display: flex;
  }

  .navtext {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 0;
  }

  .stripe {
    background: #fff;
    height: 3px;
    width: 50px;
  }
}

.hamburger {
  height: 24px;
  margin-left: 6px;
  width: 26px;
  transition: 0.2s ease-in-out;

  .stripe {
    background: #000;
    display: block;
    height: 4px;
    margin-bottom: 6px;
    width: 100%;
    transition: 0.2s ease-in-out;
  }

  .stripe:nth-of-type(2) {
    width: 70%;
  }

  .stripe:nth-of-type(3) {
    margin-bottom: 0;
    width: 90%;
  }
}

.navigation.active {
  color: red;

  .hamburger {
    transform: translate(10px, -1px);
  }

  .stripe {
    background: red;
  }

  .stripe:nth-of-type(1) {
    transform: rotate(45deg) translateY(14px);
  }

  .stripe:nth-of-type(2) {
    opacity: 0;
  }

  .stripe:nth-of-type(3) {
    transform: rotate(-45deg) translateY(-14px);
    width: 100%;
  }
}

.menu-open .menu-panel {
  height: 100%;
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.menu-panel {
  background: rgba(#fb7e7e, 1);
  height: 0;
  left: 0;
  opacity: 0;
  overflow: scroll;
  position: fixed;
  top: 0;
  transition: opacity 0.2s ease-out;
  visibility: hidden;
  width: 0;
  z-index: 99999;
}



.mouse-down {
  border: 3px solid #fff;
  border-radius: 20px;
  display: block;
  height: 54px;
  position: absolute;
  left: calc(50% - 18px);
  bottom: $gutter;
  width: 36px;
  z-index: 999;

  @include breakpoint(s) {
    display: none;
  }

  .bullet {
    animation: scrollDownUp 3s infinite;
    width: 8px;
    height: 8px;
    background: #fff;
    margin: auto auto;
    border-radius: 8px;
    position: relative;
  }
}

/* Standard syntax */
@keyframes scrollDownUp {
  0% {top: 5px;}
  50% {top: 35px;}
  100% {top: 5px;}
}


.menu-list {
  column-count: 4;
  column-gap: 40px;
  padding: 5em;

  .item {
    color: #fff;
    margin-bottom: 1em;
    break-inside: avoid-column;
  }

  li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.2em;
  }

  .small-item {
    justify-content: flex-start;
    font-size: 1em;
  }

  .letter {
    font-size: 2em;
  }

  a {
    color: #fff;
  }
}
