.quote-section {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 400px;
  text-align: center;
  widows: 100%;

  blockquote {
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }

  .citation {
    font-size: 1.3125em;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  .description {
    font-size: 1.5em;
    font-weight: 700;
  }
}
