.text-section.active .content {
  opacity: 1;
}

.text-section {
  padding: $gutter * 2;

  a{

      display: inline-block;
      border-bottom: 2px solid;
  }

  @include breakpoint(s) {
    padding: $gutter / 2
  }

  .content {
    margin: auto;
    text-align: left;
    max-width: 45em;
    opacity: 1;
    transition: opacity 1s ease-in-out;

    @include breakpoint(s) {
      text-align: left;
    }
  }

  p {
    margin-bottom: 1em;
  }

  h2 {
    color: #fff;

  }
}
